<%- include("header"); %>

<div>
  <nav class="navbar navbar-light bg-transparent">
    <a class="navbar-brand" href="/" class="logo">
      <img src="/images/icon128-2x.png" alt="Home" class="homeImage">
    </a>

    <div class="form-inline customForm">
    <form action="/login" method="get">
      <button type="submit" class="btn btn-outline-warning">Login</button>
    </form>
    <form action="/register" method="get">
      <button type="submit" class="btn btn-outline-warning">Register</button>
    </form>
  </div>
  </nav>
</div>

<%- include("footer"); %>
