<%- include("partials/header"); %>

    <title>My Personal To-Do</title>
  </head>
  <body>

    <%- include("partials/navbar"); %>
      <div class="main-content">
        <h1>Make your Personal ToDo List Now!!!</h1>
        <hr />
        <form action="/todo" method="get">
          <button type="submit" class="btn btn-outline-success">My ToDo List</button>
        </form>
       
        <p><%= error %></p>
      </div>

    
 <%- include("partials/footer"); %>