<%- include("partials/header"); %>

    <title>Login | My Personal ToDo</title>
  </head>
  <body>
    <%- include("partials/navbar"); %>
      <h3>Login</h3>

    <form class="col-8" action="/login" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-outline-warning">Submit</button>
      <p><%= error %></p>
    </form>

    <%- include("partials/footer"); %>