<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%= name %></h1>

    <form action="/submit" method="post">
      <label for="item"> Add Item </label>
      <input type="text" name="item" id="item" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <button type="submit">Add</button>
    </form>

    <ul>
      <% itemsArray.forEach((item, index)=> { %>
        <form action="/completed" method="post"></form>
      <li><%= item %></li>
      <% }) %>
    </ul>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
